body{
    margin:0px;
    padding:0px;
    font-family: 'Open Sans', sans-serif;
}
ul{
    float:right;
    margin-right: 10%;
}
ul li{
    list-style-type: none;
    display: inline-block;
    padding:5px;
    margin-right: 30px;
}
ul li:hover{
    background-color:#ff8367;
    border-radius: 5px;
    color: white;

}
ul li a:hover{
    /* color: white; */
}
ul li a{
    text-decoration: none;
    color:rgb(41, 40, 40);
    font-weight: bold;
}
.nav-bar{
    height:60px;
    margin-bottom: 50px;
}
section{
    height: 500px;
    margin-bottom:100px;
}
.button-hire{
    padding: 10px;
    background-color: #ff8367;
    text-decoration: none;
    color:white;
    font-weight: bold;
    border-radius: 5px;

}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding:2%;
}
h1{
    color:#363958;
    font-size: 50px;
    font-weight: bold;
}
img{
    height: 500px;
    width: 500px;
}
p{
    color:rgb(73, 72, 72);
    font-size: 16px;
    font-weight: bold;
}
span{
    color:tomato;
}
.text-center{
    text-align: center;
}
.latest-project{
    background-color: whitesmoke;
    height: 550px;
    padding: 3%;
}
.one-third{
    height:300px;
    width: 25%;
    background-color:white;
    float:left;
    margin-left: 3%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 5px 5px 20px gray;
}
.project-image{
    height: 200px;
    width: 95%;
}
h3{
    color:#363958;
    font-weight: bold;
    font-size: 25px;
}
.inquiry-box{
    text-align: center;
}
#inquiry-image{
    height: 200px;
    width:60%;
    text-align: center;
}
.inquiry-text{
    text-align: center;
   
 }

}
/* .inquiry-text ul li a{
    color: red;
} */